@use "../../../assets/styles/vars";
@import "../../../assets/styles/mixins";

$laptop: 998px;
$tablet: 660px;
$smartphone: 528px;

.bingo-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  color: #000;

  @media screen and (max-width: $tablet) {
    padding: 1rem;
  }

  @media screen and (max-width: $smartphone) {
    padding: 0;
  }

  h2 {
    @include titleStyle;
    font-size: 6rem;
    color: #2ee382;
    margin-top: 1rem;
    margin-bottom: 4rem;

    span {
      text-decoration: underline;
    }

    @media screen and (max-width: $laptop) {
      font-size: 5rem;
    }

    @media screen and (max-width: $smartphone) {
      font-size: 4rem;
      margin-bottom: 3rem;
    }
  }

  h3 {
    font-size: 1.6rem;
    margin-bottom: 1rem;
    font-weight: 300;
  }

  p {
    @include bodyStyle;
    font-size: 1.8rem;
    text-align: center;
    font-weight: bold;

    @media screen and (max-width: $laptop) {
      font-size: 1.4rem;
    }

    @media screen and (max-width: $smartphone) {
      font-size: 1.2rem;
    }
  }
}
