@use "../../assets/styles/main.scss";
@use "../../assets/styles/vars";

table {
  border-spacing: 8px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: vars.$bgColorDefault;
  border: 2px solid #000;
  border-radius: 10px;
  width: 265px;
  height: 320px;
  margin:15px;

  .card-title {
    font-family: vars.$fontTitle;
    font-weight: 500;
    font-size: 2rem;
    color: rgb(115, 115, 140);
    text-align: center;

    cursor: default;
  }

  td {
    border: 1px solid rgb(112, 112, 112);
    border-radius: 10px;
    background: rgb(239, 239, 239);
    width: 40px;
    height: 40px;
    color: #000;
    text-align: center;

    cursor: pointer;
  }

  .free {
    background: main.$borderColor;
  }

}

.toggle--close{
  background-color: rgb(47, 227, 131);
  font-weight: bold;
}

.mark{
  border: 1px solid rgb(112, 112, 112);
  border-radius: 10px;
  background: rgb(239, 239, 239);
  width: 40px;
  height: 40px;
  color: #000;
  text-align: center;
}
.mark2{
  border: 1px solid rgb(112, 112, 112);
  border-radius: 10px;
  background: rgb(47, 227, 131);
  width: 40px;
  height: 40px;
  color: #000;
  text-align: center;
}
