@use "../../../assets/styles/vars";
@import "../../../assets/styles/mixins";

$tablet: 865px;
$smal-tablet: 625px;
$smartphone: 460px;
$smal-smartphone: 360px;

.main-playerContent {
  background-color: vars.$bgMainColor;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .container-playerModal {
    width: 50%;
    height: auto;
    padding: 2rem;
    background-color: vars.$bgColorDefault;
    border-radius: 25px;
    cursor: default;

    @media screen and (max-width: $tablet) {
      width: 62%;
    }

    @media screen and (max-width: $smal-tablet) {
      width: 80%;
    }

    @media screen and (max-width: $smartphone) {
      width: 92%;
    }

    .content-player {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;

      h2 {
        @include titleStyle;
        color: vars.$bgMainColor;
        margin-bottom: 0.6rem;

        @media screen and (max-width: $smal-tablet) {
          font-size: 1.8rem;
        }

        @media screen and (max-width: $smartphone) {
          font-size: 1.6rem;
        }

        @media screen and (max-width: $smal-smartphone) {
          font-size: 1.2rem;
        }
      }

      .submit-player {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 1rem auto;
        width: 100%;

        input {
          width: 80%;
          height: 40px;
          text-align: center;
          margin-bottom: 0.6rem;
          border-radius: 10px;
          background-color: vars.$bgColorDefault;
          border-color: vars.$borderColor;
          outline: none;
          font-size: medium;
          box-shadow: 5px 3px 10px rgba(0, 0, 0, 0.7);

          @media screen and (max-width: $smal-smartphone) {
            width: 90%;
          }
        }

        button {
          @include defaultButton;
          margin: 0;
          margin-top: 1rem;

          @media screen and (max-width: $smal-smartphone) {
            width: 95%;
          }
        }
      }
    }
  }
}
