@use "../../../assets/styles/vars";
@import "../../../assets/styles/mixins";
body{
  display:flex;
  justify-content:center;
  background-color: vars.$bgMainColor;
  .container-playerModal {
    width: 100%;
    height: auto;
    padding: 2rem;
    background-color: vars.$bgColorDefault;
    border-radius: 25px;
    cursor: default;
    margin:30% 0;
  
    .content-player {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
  
      h2 {
        @include titleStyle;
        color: vars.$bgMainColor;
        margin-bottom: 0.6rem;
      }
  
      .submit-player {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 1rem auto;
        width: 100%;
  
        input {
          width: 80%;
          height: 40px;
          text-align: center;
          margin-bottom: .6rem;
          border-radius: 10px;
          background-color: vars.$bgColorDefault;
          border-color: vars.$borderColor;
          outline: none;
          font-size: medium;
          box-shadow: 5px 3px 10px rgba(0, 0, 0, 0.7);
        }
  
        button {
          @include defaultButton;
          margin: 0;
          margin-top: 1rem;
        }
      }
    }
  }
}


