@use '../../assets/styles/vars';

.homePage {
    background-color: vars.$bgMainColor;
    min-width: 100vw;
    min-height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    color: vars.$textColor;

    h1 {
        font-size: 3rem;
    }

    p {
        text-align: center;
        font-size: 1.2rem;
    }
}
