@use "../../assets/styles/main.scss";
@use "../../assets/styles/vars";

.container-box {
  max-height: 70%;
  width: 70%;
  background-color: main.$bgColorDefault;
  border-radius: 16px;
}

.title {
  border-bottom: 5px solid rgb(148, 57, 254);
  border-radius: 0px 20px 0px 0px;

  display: flex;
  justify-content: center;

  color: #707070;

  font-family: main.$fontTitle;
  font-weight: 600;
  font-size: 7vh;
}

.infos {
  color: #707070;

  width: 100%;
  padding-left: 30px;
  padding-right: 30px;

  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-content: space-between;

  font-size: 3rem;
  font-family: vars.$fontTitle;
  font-weight: 500;
  text-align: center;
  margin: 0.6rem 0;

  span {
    text-decoration: underline;
  }
}
      
.tempo-nmr {
  font-weight: 600;
  font-size: 50px;
}

.anteriores-box {
display: flex;
flex-direction: column;
}
.box-bolas-anteriores{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.bolas-anteriores{
padding: 8px ;
margin:2px;
font-size: 22px;
border-radius: 50%;
background-color: #707070;
color: #fff;
}      

button {
  background-color: rgb(47, 227, 131);
  border: transparent;
  color: vars.$textColor;
  padding: 10px;
  margin: 1rem auto;
  text-align: center;
  text-decoration: none;
  font-size: 1.7rem;
  border-radius: 30px;
  width: 100%;
  cursor: pointer;
  transition: all 0.6s ease-in-out;
  &:hover {
    transform: scale(1.05);
  }
}
.box-menu-superior{
  width: 33%;
}
.sub-titulo-superior{
  font-size:32px;
}
.bola-sorteada{
  display:flex;
  justify-content: center;
  align-self: center;
}

.bola {
  text-align:center;
  padding:18px;
  border-radius: 50%;
  background-color: main.$bgMainColor;
  color: #fff;
}

.tables {
  display: flex;
  justify-content: center;
}
