@use "../../assets/styles/main.scss";
@use "../../assets/styles/vars";

$laptop: 1060px;
$tablet: 820px;
$smal-tablet: 700px;
$smartphone: 620px;
$medium-smartphone: 470px;

.container-box {
  max-height: 85%;
  width: 80%;
  border-radius: 16px;

  @media screen and (max-width: $tablet) {
    width: 85%;
  }

  @media screen and (max-width: $smartphone) {
    width: 96%;
  }
}

.player-infos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0.6rem auto;

  .player-avatar {
    width: 65px;
    height: 65px;
    border-radius: 50%;
  }

  .player-name {
    color: #000;
    font-weight: 600;
    font-size: 3.5vh;
  }
}

.title {
  border-bottom: 5px solid rgb(148, 57, 254);
  border-radius: 15px;
  background-color: main.$bgColorDefault;
  display: flex;
  justify-content: center;
  color: #707070;
  font-family: main.$fontTitle;
  padding: 0.5rem;
  font-weight: 600;
  font-size: 7vh;
}

.infos {
  background-color: main.$bgColorDefault;
  border-radius: 10px 10px 0 0;
  color: #707070;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-content: space-between;
  font-size: 3rem;
  font-family: vars.$fontTitle;
  font-weight: 500;
  text-align: center;

  @media screen and (max-width: $tablet) {
    padding-left: 10px;
    padding-right: 10px;
  }

  @media screen and (max-width: $smal-tablet) {
    padding: 10px 5px;
  }

  span {
    text-decoration: underline;
  }
}

.tempo-nmr {
  font-weight: 600;
  font-size: 50px;
}

.anteriores-box {
  display: flex;
  flex-direction: column;
}
.box-bolas-anteriores {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.bolas-anteriores {
  padding: 4px;
  margin: 2px;
  font-size: 1rem;
  border-radius: 50%;
  background-color: #707070;
  color: #fff;
  height: 5.5vh;
  width: 5.5vh;

  @media screen and (max-width: $tablet) {
    height: 4.5vh;
    width: 4.5vh;
  }
}

button {
  background-color: rgb(47, 227, 131);
  border: transparent;
  color: vars.$textColor;
  padding: 10px;
  margin: 1rem auto;
  text-align: center;
  text-decoration: none;
  font-size: 1.7rem;
  border-radius: 30px;
  width: 100%;
  cursor: pointer;
  transition: all 0.6s ease-in-out;
  &:hover {
    transform: scale(1.05);
  }

  @media screen and (max-width: $tablet) {
    width: 80%;
    font-size: 1.4rem;
  }

  @media screen and (max-width: $medium-smartphone) {
    width: 100%;
    font-size: 1.2rem;
    padding: 8px;
  }
}
.box-menu-superior {
  width: 33%;
}
.sub-titulo-superior {
  font-size: 32px;

  @media screen and (max-width: $tablet) {
    font-size: 25px;
  }

  @media screen and (max-width: $medium-smartphone) {
    font-size: 20px;
  }
}

.bola-sorteada {
  display: flex;
  justify-content: center;
  align-self: center;
}

.bola {
  text-align: center;
  padding: 13px;
  border-radius: 50%;
  background-color: main.$bgMainColor;
  color: #fff;
  height: 12vh;
  width: 12vh;
  font-size: 2rem;
}

.tables {
  background-color: main.$bgColorDefault;
  border-radius: 0 0 10px 10px;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;

  @media screen and (max-width: $laptop) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  @media screen and (max-width: $smal-tablet) {
    gap: .5rem;
  }

  @media screen and (max-width: $smartphone) {
    gap: 0;
  }
}
