$bgMainColor: #7600ff; //#7600ff
$bgColorDefault: #f4f5f9; //#2fe383

$borderColor: #943bfb;//#707070

$bgOpacityColor: #7600ff60; 


$textColor: #f4f5f9;//fefefe
$fontTitle: "Poppins", sans-serif;//
$fontDefault: 'Ubuntu', sans-serif;//
