@use "../../../assets/styles/vars";
@import "../../../assets/styles/mixins";

.Overlay {
    width: 100vw;
    height: 100vh;
    background: vars.$bgOpacityColor;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
}